@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200..700&display=swap');


:root {
  --global-font-family-primary: "Roboto";
  --layout-background-color: red;
  /* sombra btns */
  --global-elevation-level-02: 0;
  --global-elevation-level-04: 0;
}