/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@font-face {
  font-family: 'AvantGardeGothicITCW01Bk';
  src:  url('https://cdn.jsdelivr.net/gh/imuriasp/publico@main/Veridas/fonts/38F797_3_0.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/imuriasp/publico@main/Veridas/fonts/38F797_3_0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AvantGardeGothicITCW02Dm';
  src:  url('https://cdn.jsdelivr.net/gh/imuriasp/publico@main/Veridas/fonts/38F797_7_0.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/imuriasp/publico@main/Veridas/fonts/38F797_7_0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --global-font-family-primary: "AvantGardeGothicITCW01Bk";
  --global-font-family-secondary: "AvantGardeGothicITCW02Dm";
  --layout-background-color: transparent;
  --specific-color-content-dark: #383838;
  --color-primary-main: #F9B000;
  
  --global-spacing-size-0: 5rem;
  --global-spacing-size-15: 0;/* padding */
  /* border color */
  --layout-frame-color: transparent;

  /* botons */
  --global-elevation-level-02: 0;/* sombra */
  --global-style-border-radius-3: 4px;
    /* hover */
    --specific-color-interactive-secondary-background-hover: #F9B000; /* fondo */
    --secondary-button-hover-border-color: #00242E; /* borde */
    --global-elevation-level-04: 0px 0px 0px 1px #00242E; /* sombra */
    /* active */
    --global-elevation-level-01: 0px 0px 0px 1px #D9D9D9; /* sombra */
}

/* :host {
  border: 2px solid red;
}
 */

vd-flex {
  background-color: white;
}
vd-feedback::part(feedback) {
  background-color: #eb3d1e;
}
.box-container {
  background-color: blue;
}


/* boton verificar identidad */
.vd-guide-modal__submit {
  background: #F9B000;
  border-radius: var(--radius-sm);
  border: none;
  box-shadow: var(--shadow-sm);
  color: var(--color-neutral00);
  cursor: pointer;
  font-family: var(--typography-body-normal-font-family);
  font-size: calc(var(--main-sdk-height) * .04);
  margin-bottom: calc(var(--main-sdk-width) * .02);
  margin-top: calc(var(--main-sdk-width) * .02);
  outline: 0;
  padding: calc(var(--main-sdk-height) * .04);
  white-space: nowrap;
  width: calc(var(--main-sdk-height) * .9);
  transition: ease-in .2s;
}


/* SDK Document */
vd-document::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-document::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-document::part(head_steps) {
    color: #ffffff;
  }
  
  /* SDK Selfie */
  vd-selfie::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-selfie::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-selfie::part(head_steps) {
    color: #ffffff;
  }
  
  /* SDK Video */
  vd-video::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-video::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-video::part(head_steps) {
    color: #ffffff;
  }