/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
  --global-font-family-primary: "Oswald";
  --layout-background-color: green;
}

/* SDK Document */
vd-document::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-document::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-document::part(head_steps) {
    color: #ffffff;
  }
  
  /* SDK Selfie */
  vd-selfie::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-selfie::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-selfie::part(head_steps) {
    color: #ffffff;
  }
  
  /* SDK Video */
  vd-video::part(display_message_container) {
    background-color: #eb3d1e;
  }
  
  vd-video::part(display_message_text) {
    color: #ffffff;
  }
  
  vd-video::part(head_steps) {
    color: #ffffff;
  }